{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2022",
    "keepClassNames": true,
    "baseUrl": ".",
    "paths": {
      "@zonvo/types": ["../../packages/types/src"],
      "@zonvo/constants": ["../../packages/constants/src"],
      "@zonvo/storage": ["../../packages/storage/src"]
    }
  },
  "module": {
    "type": "commonjs"
  }
}
